*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


.li {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1em 0.5em;
    justify-content: space-between;
    max-inline-size: 100%;
    margin: 2em 1em;
    padding: 1em 1em;
    box-shadow: 12px 12px 12px black;
    font-size: 18px;
}
.li > li {
    word-wrap: break-word;
}
.date-content {
    display: flex;
    gap: 1em;
    align-items: center;
}
.date-content > span {
    padding: 0.5em;
    border-radius: 50%;
    border: 0;
    background-color: rgb(255, 198, 28);
    font-weight: bold;
    color: rgb(0, 0, 0);
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

.notes {
    background-color: white;
}

textarea {
     border-radius: 12px;
     background-color: cornsilk;
     font-size: 18px;
     padding: 1em 1em;
     
}
.user-section span {
    color: snow;
    align-self: flex-end;
}




.user-section {
    background-color: rgb(0, 0, 0);
    max-width: 100%;
    padding: 2em 2em;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0  1em;
}



.user-section input {
    padding: 0.5em 0.5em;
    font-size: 16px;
    background-color: lightgoldenrodyellow;
    border: 0;
    align-self: flex-end;
}

   h2 {
    
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.user-section button {
    padding: 0.5em 1em;
    background-color: aquamarine;
    align-self: flex-end;
    border: 0;
    font-weight: bold;
}


#task-details {
    position: absolute;
    z-index: 10;
    max-inline-size: 30%;
    background-color: red;
    color: white;
}