*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(101, 101, 101);
}


.container {
    display: grid;
    grid-template-rows: 60px 301px;
    z-index: -2;
    box-sizing: border-box;
    height: max-content;
    align-items: center;
    background-color: navy;
    margin: 10% auto;
   box-shadow: 12px 12px 12px black;
  
  }
  .container h2 {
    padding: 0.5em 0 0 0;
    font-size: 30px;
    margin-left: 60px;
    color: white;
    margin-top: 1.5em;
  }
  .add-notes {
    padding: 0.5em;
    width: 90%;
    margin: 0 auto;
  }

  .add-notes > form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    flex-shrink: 1;
   
  }

.note {
  background-color: rgb(201, 201, 201);
}
  .modal p {
    word-break: break;
   
    padding: 1em;
    border-radius: 10px;
   
  }
  .add-notes > form > button {
    align-self: flex-end;
    background-color: #07D240;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 1em 2em;
  }
  .add-notes > form > input {
    align-self: flex-end;
    padding: 0.5em 1em;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 2%;
    font-weight: bold;
    padding: 1em 2em;
  }

  @media (min-width: 600px) {
    .container {
        width: 80%;
    }
  }


  .notes-container {
 overflow-y: scroll;
   width: 100%;
  padding: 1em 0;
    grid-gap: 5px;
    box-sizing: border-box;
    height: 350px;
    align-items: center;
    background: linear-gradient(to bottom, silver, beige, gold );
    margin: 0 auto;
    
  }

  .notes-container h2 {
    color: navy;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }

  textarea {
    border-radius: 10px;
    background-color: mintcream;
    padding: 0.5em;
  font-size: 16px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    gap: 0.5em;
    background-color: rgb(255, 124, 2);
    margin:0 2em;
    border-radius: 12px;
    
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  li {
     font-weight: bold;
     word-break: break;
     align-self: center;
     list-style: none;
     width: 500px;
     font-size: 16px;
   
  }

  
  .note {
    border-radius: 12px;
  }
.completed {
  background-color: rgb(3, 185, 235);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

  .textDecoration {
    text-decoration: line-through;
  }

  .added-notess {
  flex-direction: column;
  gap: 2em;
  display: flex;
  margin: 0 2.6em;
  }


  .modal {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 252, 252);
    z-index: 100;
    position: absolute;
    right: 25%;
    top: 50%;
     min-width: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1em 2em 2em 2em;
 border: 1px solid black;
 border-radius: 10px;
  }
  @media (min-width: 375px) {
      .modal {
        width: 90%;
        right: 5%;
        top: 40%;
      }
      .add-notes > form {
        width: 85%;
    }

    .notes-container {
      width: 100%;
    }
      li {
        width: 204px;
       
        
      }
      .flex-container {
        padding: 16px;
      }
      .container {
        width: 116%;
      }
  }



  @media (min-width: 1000px) {
    .modal {
      width: 50%;
      left: 30%;
    }
    li {
      width: 100%;
    }
    .container {
      width: 80%;
    }
  }

  .note {
    font-size: 18px;
    margin-top: 2em;
  }

  .time-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    gap: 1em;
    margin-top: 2em;
  }

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details > button {
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 18px;
}



